
/* global Style */

body 
{
    font-family: math;
}

h1
{
    color: #6e6969 !important;
    cursor: auto;
}


.alert 
{
    text-align: center;
}

.active
{
    color: gold !important;
}







/* STart upper-bar Style */

.upper-bar
{
    background-color: #EEE;
    padding: 10px 0 10px ;

}

.upper-bar .container
{
    display: flex;
    justify-content: flex-end;
}
.upper-bar .container a
{
    text-decoration: none;
}


/* End upper-bar Style */

/* Start login Style */

.auth-container 
{
    margin: 35px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auth-container .login-header
{
    font-size: xxx-large;   
    cursor: pointer;

}



.auth-container .signup{
    display:  none ;
}

.input-container
{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 20px;
    background-color: beige;
    border-radius: 20px;
    width: 100%;
}
.input-container input
{
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px;
    outline: gold;
}
.auth-container .login-header [data-class = 'signup'].active
{
    color: green !important;
}


/* End login Style */

/*Start Items of Category   */

.container .card .items-container
{
    position: relative;
}

 .items-container .item-price
{
    position: absolute;
    background-color: firebrick;
    padding: 5px;
    top: 11px;
    color: white;
    font-weight: bold;
}


/*End Items of Category   */


/* start Profile Style */

.information .container .card .card-body {

    padding: 0;

}
.information ul 
{
    padding: 0;
}
.information ul li
{
    padding: 15px ;
}

.information ul li:nth-child(odd){

    background-color: #eee;

}


.information  .card-body ul li 
{
    display: flex !important;
}

.information ul li  span{
    display: inline-block;
    width: 15%;
    padding: 0 5px;
    flex-wrap: nowrap;
}



.information .icon a ,
.ads .icon a ,
.comments .icon a  
{
    cursor: pointer;
    color: white;
}


/* Add Ad Page */

.ad-form form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}
.ad-form form input , .ad-form form textarea
{
    outline: none;
    border: 1px solid gray;
}
.ad-form form label
{
    background-color: transparent;
    display: flex;
    justify-content: center;
    font-weight: bold;
}