/* start Body Style */

body {
    height: 100vh;
    background-color: beige;
}


.alert {
    text-align: center;
}

/* End Body Style */


/* Start Form Style */

.container
{
    height: 100%;

}
form
{
    border-radius: 20px !important;

}
form input  
{
    margin-bottom: 15px;
}


/* End Form Style */

/* start Edite Style */

h1
{
    font-size:55px ;
}

/* End Edite Style */

