

/* start Body Style */


body 
{
    height: 100vh;
}


.alert 
{
    text-align: center;
}

a{
    text-decoration: none;
    
}



/* End Body Style */



/* Start Form Style */


form
{
    border-radius: 20px 0 !important;
    

}
form input  
{
    margin-bottom: 15px;
}


/* End Form Style */

/* Dashbord style mark here */

/* latest  */

.home-stats  .stat 
{
    border-radius: 5px;
    color: white;
    font-weight: bold;
    padding: 20px;
    position: relative;
    height: 100%;
}

.stat i {
    float: left;
    position: absolute;
    left: 30px;
    top: 28%;
    font-size: 80px;
}
.stat .info{
    float: right;
}

.home-stats a {
    text-decoration: none;
    color: white;
    cursor: pointer ;
}

.container .toggle{
    float: right;
    cursor: pointer;
    margin-top: 4px;
}

.home-stats .member-stat
{
    background-color: #023047;
}

.home-stats .pending-stat
{
    background-color: #fb8500;

}
.home-stats .item-stat
{
    background-color: #e63946;

}
.home-stats .comment-stat
{
    background-color: #8338ec;
}

.home-stats .stat span
{

    font-size: 60px !important;

}

.latest .latest-list
{
    list-style: none;
    padding: 0;
    margin: 0; 
    font-weight: bold;
}


.latest .latest-list .latest-item
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 5px;
    width: 100%;
    margin: 4px 0;
}
.latest .latest-list li:nth-child(odd)
 {
    background-color: #d3d3d3;

}

 .latest .card-default .latest-comment{
    position: relative;
    list-style: none;
}

/* end latest */

/* ######################################################################## */

/* categories */

.cat-container  {
    --bs-gutter-x: 0rem !important ;
    flex-wrap: wrap;
}



.cat-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cat-header .options  {
    display: flex;
}

.cat-header .options div {
    margin: 0 5px;
    cursor: default;
}
.cat-header .options div a {
    padding:3px;
    text-decoration: none !important;
    cursor: pointer;
}

.active {
    background-color: blueviolet;
    color: white;
    border-radius: 5px;

}

.foot  i {
    margin-right: 8px !important ; 
}

.foot a 
{
    text-decoration: none;
    font-weight: bold;
    color: white;
}


.options.sorting .ordering
{
    direction: ltr;
}

.cat-container .cat {
    border-radius: 10px;
    min-width: 250px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    align-items: stretch;
}

.container .head {
    background-color: blueviolet;
    min-width: 22%;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.container .body {
    padding: 10px;
    width: 100%;
    background-color: #EEE;
    display: none;

}
.container .body .no {
    background-color: red;
    padding: 2px;
    font-size: 12px;
    margin: 0 2px;
    color: white;
}
.container .body .cat-right{
    margin: auto;
}
.details-cat
{
    margin: 2px;
}
.details-cat span {
    font-weight: bold;
    font-variant: all-small-caps;    
}
.container .body .yes {
    background-color: green;
    padding: 2px;
    font-size: 12px;
    margin: 0 2px;
    color: white;
}
.cat-container .cat .head h3 {
    color: white;
}
.cat-container .cat .foot {
    position: absolute;
    display: none;
    top: 10px;
    right: -180px;
    display: flex;
    flex-direction: row-reverse;
    transition: all .5s ease-in-out;
    align-items: center;
}
.cat-container .cat:hover .foot {
    right: 8px;
}
.cat-container .cat .foot i{
    padding: 2px 2px 2px 5px;
    border-radius: 20px;
}
.cat-container .cat .foot .edite{
    background-color: rgb(32, 32, 253);
    color: white !important;
    padding: 0 5px;
    border-radius: 10px;
}
.cat-container .cat .foot .del{
    background-color: red;
    color: white !important;
    margin: 5px 0;
    padding: 0 5px;
    border-radius : 10px ;
    margin: 0 0 0 8px;
}
.cat-container .cat .foot .add{
    background-color: black !important;
    color: white !important;
    margin: 5px 0;

}

.show-delete
{
    display: none;
}

/* ############################################################# */

/* items style mark here */

.items-container
{
    margin: auto auto !important;
}
.items-container .input-group 
{
    justify-content: center;
    margin: 15px 0 ;
}


.items form .input-group  input ,
 .items form .input-group textarea ,
 .items form .input-group select
{
    border: none;
    background-color: #EEE;
    width: 70%;
    padding: 15px;
}

.items form .input-group label
{
    background-color: black;
    color: white;
    min-width: 105px;
}

.items form.input-group  input:focus
{
    border: 1px solid gold;
    outline: none;
    background-color: black;
}




/* End Dashbord style */
/* ##################################################################################### */
/* start Edite Style */

h1
{
    font-size:55px ;
}

/* End Edite Style */

